{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

<div class="border rounded p-3">
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="mb-3">
        {{ form.username.errors }}
          <label for="{{ form.username.id_for_label }}" class="form-label fs-5">帳號名稱:</label>
          {% render_field form.username class="form-control fs-5" type="text" %}
          <div id="userNameHelp" class="form-text">請填入您的帳號名稱</div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-2"></div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}