{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

<div class="border rounded p-3">
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="mb-3">
        {{ form.username.errors }}
          <label for="{{ form.username.id_for_label }}" class="form-label fs-5">帳號名稱:</label>
          {% render_field form.username class="form-control fs-5" type="text" %}
          <div id="userNameHelp" class="form-text">請填入您的帳號名稱</div>
        </div>
        <div class="mb-3">
        {{ form.password.errors }}
          <label for="{{ form.password.id_for_label }}" class="form-label fs-5">密碼:</label>
          {% render_field form.password class="form-control fs-5" type="password" %}
          <div id="passwordHelp" class="form-text">請填入您的密碼</div>
        </div>
       
        <button type="submit" class="btn btn-primary">登入</button>
        <a href="{% url 'signup' %}" class="btn btn-outline-primary">註冊</a>
    </form>
</div>
{% endblock %}