{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
<form method="post">
    {% csrf_token %}
    <div class="form-floating mb-3">
        {{ form.title.errors }}
        {% render_field form.title class="form-control" type="text" placeholder=""%}
        <label for="{{ form.title.id_for_label }}" class="form-label">書籍名稱</label>
        <div id="titleHelp" class="form-text">請填入書名名稱</div>
    </div>
    <div class="form-floating mb-3">
        {{ form.author.errors }}
        {% render_field form.author class="form-control" type="text" placeholder=""%}
        <label for="{{ form.author.id_for_label }}" class="form-label">作者名稱</label>
        <div id="authorHelp" class="form-text">請填入作者名稱</div>
    </div>
    <div class="form-floating mb-3">
        {{ form.isbn.errors }}
        {% render_field form.isbn class="form-control" type="text" placeholder=""%}
        <label for="{{ form.isbn.id_for_label }}" class="form-label">國際標準書號</label>
        <div id="isbnHelp" class="form-text">請填入國際標準書號</div>
    </div>
    <div class="form-floating mb-3">
        {{ form.published_date.errors }}
        {% render_field form.published_date class="form-control" type="date" placeholder=""%}
        <label for="{{ form.published_date.id_for_label }}" class="form-label">出版日期</label>
        <div id="published_dateHelp" class="form-text">請填入出版日期</div>
    </div>
    <div class="form-floating mb-3">
        {{ form.genre.errors }}
        {% render_field form.genre class="form-control" type="text" placeholder=""%}
        <label for="{{ form.genre.id_for_label }}" class="form-label">類型</label>
        <div id="genreHelp" class="form-text">請填入類型</div>
    </div>
    <div class="form-floating mb-3">
        {{ form.quantity_in_stock.errors }}
        {% render_field form.quantity_in_stock class="form-control" type="text" placeholder=""%}
        <label for="{{ form.quantity_in_stock.id_for_label }}" class="form-label">庫存數量</label>
        <div id="quantity_in_stockHelp" class="form-text">請填入庫存數量</div>
    </div>
    <div class="form-floating mb-3">
        {{ form.price.errors }}
        {% render_field form.price class="form-control" type="text" placeholder=""%}
        <label for="{{ form.price.id_for_label }}" class="form-label">價格</label>
        <div id="priceHelp" class="form-text">請填入價格</div>
    </div>
    <div class="form-floating mb-3">
        {{ form.description.errors }}
        {% render_field form.description class="form-control" type="textarea" placeholder=""%}
        <label for="{{ form.description.id_for_label }}" class="form-label">描述</label>
        <div id="descriptionHelp" class="form-text">請填入描述</div>
    </div>

    <button type="submit" class="btn btn-primary">修改</button>
  </form>
{% endblock %}