{% extends "base.html" %}
{% load static %}
{% block content %}
    {% if messages %}
        <br>
        {% for message in messages %}
            <div {% if message.tags %}class="alert alert-{{ message.tags }}"{% endif %}
                 role="alert">{{ message }}</div>
        {% endfor %}
    {% endif %}

    <form method="get" action="{% url 'book-logs' %}" class="d-flex justify-content-center mb-3">
        <div class="row g-3 align-items-center">
            <div class="col-auto">
              <label for="bookName" class="col-form-label">查詢書籍</label>
            </div>
            <div class="col-auto">
              <input type="text" name="book_title" id="bookName" class="form-control">
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary">搜尋</button>
            </div>
          </div>
    </form>    
    
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">書名</th>
            <th scope="col">作者</th>
            <th scope="col">類型</th>
            <th scope="col">借出日期</th>
            <th scope="col">預計歸還日期</th>
            <th scope="col">動作</th>
          </tr>
        </thead>
        <tbody>
            {% for log in logs %}
            
          <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{log.book.title}}</td>
            <td>{{log.book.author}}</td>
            <td>{{log.book.genre}}</td>
            <td>{{log.borrow_date}}</td>
            <td>{{log.return_date}}</td>
            <td>
                <a href="{% url 'book-detail' log.book.id %}" class="btn btn-light btn-sm">查看</a> 
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link"
                       href="?page={{ page_obj.previous_page_number }}"
                       aria-label="Previous">
                        <span aria-hidden="true" class="fs-5">上頁</span>
                    </a>
                </li>
            {% else %}
                <li class="page-item">
                    <a class="page-link disabled" href="" aria-label="Previous">
                        <span aria-hidden="true" class="fs-5">上頁</span>
                    </a>
                </li>
            {% endif %}
            <li class="page-item">
                <a class="page-link fs-5" href="#">{{ page_obj.number }}</a>
            </li>
            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link"
                       href="?page={{ page_obj.next_page_number }}"
                       aria-label="Next">
                        <span aria-hidden="true" class="fs-5">下頁</span>
                    </a>
                </li>
            {% else %}
                <li class="page-item">
                    <a class="page-link disabled" href="" aria-label="Next">
                        <span aria-hidden="true" class="fs-5">下頁</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}