{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
    {% if messages %}
        <br>
        {% for message in messages %}
            <div {% if message.tags %}class="alert alert-{{ message.tags }}"{% endif %}
                 role="alert">{{ message }}</div>
        {% endfor %}
    {% endif %}

    {{ book_filter.form.non_field_errors }}
        <form method="get" class="row align-items-center col-md-8">
            {{ book_filter.form.date_range.errors }}
            <label for=""
                   class="fs-5 col-md-2 d-flex align-items-center justify-content-center p-0">查詢日期:</label>
            {% render_field book_filter.form.date_range class="form-control fs-5 col-md m-1" type="date" id="date_range" %}
            <button class="btn btn-primary col-md-1 fs-5 btn-sm" type="submit">篩選</button>            
        </form>   
    
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">書名</th>
            <th scope="col">作者</th>
            <th scope="col">類型</th>
            <th scope="col">動作</th>
          </tr>
        </thead>
        <tbody>
            {% for item in items %}
            
          <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{item.title}}</td>
            <td>{{item.author}}</td>
            <td>{{item.genre}}</td>
            <td>
                <a href="{% url 'book-detail' item.id %}" class="btn btn-light btn-sm">查看</a>                
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
{% endblock %}