{% extends "base.html" %}
{% load static %}
{% block content %}
    {% if messages %}
        <br>
        {% for message in messages %}
            <div {% if message.tags %}class="alert alert-{{ message.tags }}"{% endif %}
                 role="alert">{{ message }}</div>
        {% endfor %}
    {% endif %}    
    
    <table class="table mb-3">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">書名</th>
            <th scope="col">作者</th>
            <th scope="col">類型</th>
            <th scope="col">出版日期</th>
            <th scope="col">國際標準書號</th>
            <th scope="col">館內庫存數量</th>
            {% if perms.app.delete_book or perms.app.change_book %}
            <th scope="col">操作</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
            
          <tr>
            <th scope="row" class="border-bottom-0"></th>
            <td class="border-bottom-0">{{detail.title}}</td>
            <td class="border-bottom-0">{{detail.author}}</td>
            <td class="border-bottom-0">{{detail.genre}}</td>
            <td class="border-bottom-0">{{detail.published_date}}</td>
            <td class="border-bottom-0">{{detail.isbn}}</td>
            <td class="border-bottom-0">{{detail.quantity_in_stock}}</td>

            {% if perms.app.delete_book or perms.app.change_book %}
            <td class="border-bottom-0">
                {% if perms.app.change_book %}
                <a href="{% url 'book-update' detail.id %}" class="btn btn-light btn-sm">編輯</a>                
                {% endif %}
                {% if perms.app.delete_book %}
                <a href="{% url 'book-delete' detail.id %}" class="btn btn-danger btn-sm">刪除</a>                
                {% endif %}
            </td>
            {% endif %}
          </tr>
        </tbody>
    </table>

    <div class="form-floating">
        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px" disabled>{{ detail.description }}</textarea>
        <label for="floatingTextarea2">描述</label>
    </div>

    <hr class="my-4">

    <div>
        {% if book_logs %}
            <h3>借閱紀錄</h3>
            {% for log in book_logs %}
                {% if log.is_return %}
                <div class="card mb-3 border border-success">
                {% else %}
                <div class="card mb-3">
                {% endif %}
                    <div class="card-body">
                        於 {{ log.borrow_date }} 借出，預計歸還日期為 {{log.return_date }}
                    </div>
                </div>
            {% endfor %}
            {% else %}
            <div class="card border-0">
                <div class="card-body text-center">
                <h4>並未擁有借閱紀錄</h4>
                </div>
            </div>
        {% endif %}
    </div>

{% endblock %}