{% extends "base.html" %}
{% load static %}
{% block content %}
    {% if messages %}
        <br>
        {% for message in messages %}
            <div {% if message.tags %}class="alert alert-{{ message.tags }}"{% endif %}
                 role="alert">{{ message }}</div>
        {% endfor %}
    {% endif %}   
    
    <table class="table mb-5">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">預約人</th>
            <th scope="col">名稱</th>
            <th scope="col">電話</th>
            <th scope="col">地址</th>
            <th scope="col">預約時間</th>
            <th scope="col" style="text-align: center;">操作</th>
          </tr>
        </thead>
        <tbody>
            
          <tr>
            <th scope="row" class="border-bottom-0"></th>
            <td class="border-bottom-0">{{detail.borrower}}</td>
            <td class="border-bottom-0">{{detail.borrower.first_name}}</td>
            <td class="border-bottom-0">{{detail.borrower.phone_number}}</td>
            <td class="border-bottom-0">{{detail.borrower.address}}</td>
            <td class="border-bottom-0">{{detail.reserve_date}}</td>   
            <td class="border-bottom-0 d-flex justify-content-center">                
                {% if perms.app.delete_reserverecord %}
                <a href="{% url 'reserve-delete' detail.id detail.book.id %}" class="btn btn-danger btn-sm">刪除預約</a>                
                {% endif %}
        </td>         
          </tr>
        </tbody>
    </table>

    <hr class="my-4">
    
    <table class="table mt-5">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">書名</th>
            <th scope="col">作者</th>
            <th scope="col">類型</th>
            <th scope="col">出版日期</th>
            <th scope="col">國際標準書號</th>
            <th scope="col">館內庫存數量</th>
          </tr>
        </thead>
        <tbody>
            
          <tr>
            <th scope="row" class="border-bottom-0"></th>
            <td class="border-bottom-0">{{detail.book.title}}</td>
            <td class="border-bottom-0">{{detail.book.author}}</td>
            <td class="border-bottom-0">{{detail.book.genre}}</td>
            <td class="border-bottom-0">{{detail.book.published_date}}</td>
            <td class="border-bottom-0">{{detail.book.isbn}}</td>
            <td class="border-bottom-0">{{detail.book.quantity_in_stock}}</td>
          </tr>
        </tbody>
    </table>

    <div class="form-floating">
        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px" disabled>{{ detail.book.description }}</textarea>
        <label for="floatingTextarea2">描述</label>
    </div>
{% endblock %}